.ant-select-selection-placeholder, .ant-select-selection-item-content {
  font-size: 14px;
  padding-left: 11px;
}

.ant-select {
  margin: 5px 0px;

  @media screen and (max-width: 1230px) {
    width: 100%;
  }
}

.ant-select-selector{
  width: 100% !important;
  max-height: 120px;
  overflow: auto; 
  background-color: #233044 !important;
  border-color: #233044 !important;
  margin-top: -7px;
  color: #fffffff2;
  padding: 0px 13px !important;
}
.ant-select-dropdown-placement-bottomLeft{
  background-color: #233044 !important;
  .ant-select-item-option{
    color: #ffffff80;
  }
}

.ant-select-dropdown .ant-select-item-option-selected {
  background-color: #407ad629 !important;
}

.ant-select-focused .ant-select-selector {
  border-color: #233044 !important;
  box-shadow: none !important;
}

.ant-select .ant-select-selection-placeholder {
  color: #ffffff80 !important;
  padding-left: 5px !important;
}

.ant-select-selection-item-remove span{
  color: white;
}
.ant-select-selection-placeholder, .ant-select-selection-item-content{
  padding-left: 1px;
}
